body{
    background: pink;
    transition: all 1s;
    
    
}

.videos form{
    background: fff;
    padding: 20px;
    font-size: 25px;
}


.container img{
    float: right;
    width: 50%;
    height: auto;
    padding: 20px;
    object-fit: contain; 
    opacity: 0.6;
}

